<div>
  <h1>Products</h1>

    <table border="1">
      <tr>
        <th>Id</th>
        <th>Catagory</th>
        <th>Name</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
        <th>Stored</th>
      </tr>
      <tr ng-repeat="p in products">
          <td>{{p.Id}}</td>
          <td>{{p.Product_Type.Title}}</td>
          <td>{{p.Name}}</td>
          <td>{{p.Buying_Price}}</td>
          <td>{{p.Selling_price}}</td>
          <td>{{p.Stored}}</td>
      </tr>
    </table>
</div>
