<!--== LEFT MENU ==-->
<div class="sb2-13">
    <ul class="collapsible" data-collapsible="accordion">
        <li><a href="#!/products" class="collapsible-header"><i class="fa fa-certificate" aria-hidden="true"></i> Products</a></li>
        <li><a href="#!product_Type" class="collapsible-header"><i class="fa fa-certificate" aria-hidden="true"></i> Product Type</a></li>
        <li><a href="#!sellingHistory" class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i> Selling History</a></li>
    </ul>
</div>
